.App {
  margin: 0 30px;
}

.active {
  background-color: antiquewhite;
}
.rounded-circle {
  cursor: pointer;
}
.category-item {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.query-all-active {
  background-color: #007bff;
  color: white;
}
.query-all {
  color: black;
  padding: 3px 20px;
}
